[workspace]
resolver = "2"
members = ["Orbital/", "Example/", "WGPU-Engine/"]

[profile.dev.package."*"]
opt-level = 3

[profile.dev]
opt-level = 1

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
incremental = false
debug = false
